# Arquivos de Ambiente Virtual
/venv
/.venv
/env/
/venv.bak
/env.bak

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração de IDEs e Editores
.vscode/
.idea/

# Arquivos de Dependências e Build
*.egg-info/
/dist/
/build/

# Arquivos de Teste e Cobertura
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints
notebooks

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de Dados e Backups
data/processed
data/raw
backup/



# Arquivos de ambiente com variáveis sensíveis
.env
*.envconfig/
config/
config/
config/
